#postTitle {
  font-size: 5rem;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  background-clip: text;
  color: transparent;
  margin: 0;
  width: fit-content;
  height: fit-content;
  padding: 0;
  display: flex;
  /* justify-content: start; */
  /* align-items: flex-start; */
}

#formTitle {
  font-size: 1rem;
  font-weight: bold;
  background: linear-gradient(
    to right,
    #ef5350,
    #f48fb1,
    #7e57c2,
    #2196f3,
    #26c6da,
    #43a047,
    #eeff41,
    #f9a825,
    #ff5722
  );
  background-clip: text;
  color: transparent;
  margin: 0;
  width: fit-content;
  height: fit-content;
  padding: 0;
  display: flex;
  /* justify-content: start; */
  /* align-items: flex-start; */
}

#postsTop {
  display: flex;
  justify-content: flex-start;
  /* align-items: center; */
  flex-direction: row;
  padding-left: 2.5rem;
}

#ascDesc {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-left: 4rem;
  gap: 0.5rem;
}
#ascDesc :hover {
  color: rgb(0, 162, 255);
  background-color: white;
  border: solid;
  border-color: white;
  border-radius: 0.8em;
  cursor: pointer;
  filter: drop-shadow(0 0 0.5em rgb(255, 255, 0));
}

#editPost {
  display: flex;
  flex-direction: column;
  padding-left: 2rem;
  padding-right: 2rem;
  padding-bottom: 0.5rem;
  /* font-size: 1.5rem; */
  border: solid 2px white;
  background-color: gray;
}

#editPost label {
  font-size: 1.5rem;
}

/*! for mobile */
@media (width <= 768px) {
  #postTitle {
    display: flex;
    font-size: 2rem;
  }

  #ascDesc {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding-left: 0.25em;
    gap: 0.5rem;
    height: fit-content;
  }

  #postsTop {
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* align-items: center; */
    padding-left: 0.25em;
    align-items: center;
  }

  #postsTop {
    display: flex;
    align-items: center;
    justify-items: center;
    justify-content: center;
  }
  #postsTop button {
    display: flex;
    justify-content: center;
    background-color: rgb(96 165 250);
    color: white;
    align-items: center;
    margin-top: 5px;
    border-radius: 25px;
    font-weight: 600;
  }

  #formTitle {
    font-size: 1.2em;
  }
}
